<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got you covered!</h2>
                <hr class="light">
                <p class="text-faded">For all your technology needs inclduing training, strategy, website hosting, emails and online selling - everything you need to get your company up and running on the Internet in no time! We use open source software. No strings attached!</p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
